@import './font.css';

$primaryColor: #eeffcc;
$fontColor: #ff0000;
$fontSize: 16px;

body
{
  background: $primaryColor;
}

.countrySelector{
  color: $fontColor;
  font-size: $fontSize;
  font-family: 'BreatheFire', sans-serif;
}
